

.contentThree{
  text-align: center; 
  font-family: 'Signika', sans-serif;
  color: #ffffff;
}

h2 {color:#2be3ac; 
   
}



a {
  color: #f1feb4;
}


nav {
  padding: 10px;
  border-radius: 10px;
  text-align: center;

}

.btn {
  outline: none;
  cursor: pointer;
  margin-right: 20px;
   padding-left:40px;
   padding-right:40px;
}

button:hover {
    background-color: #a4c2d5;
}

footer {
  background-color: #2d7ee1;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 1em;
  border-radius: 10px;
}

img {
    width: 300px; border-style: solid; border-color: #aeff00;  border-top-style: dotted;  border-bottom-style: dotted;  border-right-style: dotted;  border-left-style: dotted;   
}

.spic{
  margin-left: auto;
  margin-right: auto;
}

