/* Add flexbox to the navbars. */

/* Format the size of all images. */

/* Style the font color. */

/* Style the background with a color or image. */

/* Adjust the spacing of your page. */

/* Adjust the positioning of your page.  */


* {
    box-sizing: border-box;
  }
  
  body {
    padding: 20px;
    font-family: Arial;
  }
  
  .heading{
    background-color: #4d92db;
    color: #efeff2;
    padding: 1em;
  }
  
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .content {
    background-color: #2d7ee1;
    margin: 20px;
    padding: 10px;
    color: white;
  }


  .btn {
    outline: none;
    cursor: pointer;
    margin-right: 20px;
     padding-left:40px;
     padding-right:40px;
  }
  
  nav {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
     
  }
  
  footer {
    background-color: #2d7ee1;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 1em;
    border-radius: 10px;
  }

 p {text-align:center;
    font-family: 'Genos', sans-serif;
    font-size: 32px;
   }
  
button:hover {
    background-color: #a4c2d5;
}



